<main class="homepage">
    <div class="homepage">

        <div class="homepage__searchBar">
            <ul class="homepage__searchBarList">

                <li class="homepage__searchBarRow">
                    <form action="" class="homepage__searchBarForm">
                        <label class="homepage__title" for="s-values">Sortuj wg</label>
                        <select name="values" id="s-values">
                            <option value="none" selected>--</option>
                            <option value="prcdw">Cena: od najniższej</option>
                            <option value="prcup">Cena: od najwyższej</option>
                            <option value="namedp">Nazwa produktu: od A do Z</option>
                            <option value="namedw">Nazwa produktu: od Z do A</option>
                            <option value="timedw">Czas do zakończenia: najkrótszy</option>
                            <option value="timeup">Czas do zakończenia: najdłuższy</option>

                        </select>

                    </form>
                </li>

            </ul>
        </div>

        <div class="homepage__allElements">
            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>