<main class="homepage">
    <div class="home">

        <div class="home__searchBar">
            <ul class="home__searchBarList">

                <li class="home__searchBarRow">
                    <form action="" class="home__searchBarForm">
                        <label class="home__title" for="s-values">Sortuj wg</label>
                        <select name="values" class="home__valueRow" id="s-values">
                            <option value="none" selected>--</option>
                            <option value="prcdw">Cena: od najniższej</option>
                            <option value="prcup">Cena: od najwyższej</option>
                            <option value="namedp">Nazwa produktu: od A do Z</option>
                            <option value="namedw">Nazwa produktu: od Z do A</option>
                            <option value="timedw">Czas do zakończenia: najkrótszy</option>
                            <option value="timeup">Czas do zakończenia: najdłuższy</option>

                        </select>

                    </form>
                </li>

            </ul>
        </div>

        <div class="home__allElements">
            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="home__element">

                <a href="#" class="home__link">
                    <div class="home__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="home__img">

                    </div>

                    <div class="home__elementText">
                        <ul class="home__text">
                            <li class="home__title">
                                <p class="home__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="home__title">
                                <p class="home__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>