<main class="homepage">
    <div class="homepage">

        <div class="homepage__searchBar">
            test
        </div>

        <div class="homepage__allElements">
            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="homepage__element">

                <a href="#" class="homepage__link">
                    <div class="homepage__elementImg">
                        <img src="../assets/img/announ-img.jpg" alt="" class="homepage__img">

                    </div>

                    <div class="homepage__elementText">
                        <ul class="homepage__text">
                            <li class="homepage__title">
                                <p class="homepage__titleLink">Ametyst z Brazylii 120mm</p>
                            </li>
                            <li class="homepage__title">
                                <p class="homepage__price">230 zł</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>