<nav class="navigation">


    <div class="navigation__text">
        <ul class="navigation__list">
            <li class="navigation__listRow"><a href="mainPage.html" class="navigation__link">Strona główna</a></li>
            <li class="navigation__listRow"><a href="#" class="navigation__link">Licytacje</a></li>
            <li class="navigation__listRow"><a href="#" class="navigation__link">Ogłoszenia</a></li>
            <li class="navigation__listRow"><a href="#" class="navigation__link">Informacje</a></li>
        </ul>
    </div>
    <div class="navigation__user">
        <a href="#" class="navigation__userLink"><i class="fa-solid fa-user navigation__userIcon"></i></a>
    </div>
</nav>