<div class="sidebar">


    <form action="" class="sidebar__search">

        <label for="i-text" class="sidebar__labelRow"></label>
        <input type="text" class="sidebar__labelText" name="i-text" id="i-text" placeholder="Szukaj...">
        <button type="submit" class="sidebar__button"><i
                class="fa-solid fa-magnifying-glass sidebar__searchingIcon"></i></button>
    </form>



    <ul class="sidebar__mainMenu">
        <li class="sidebar__row--rowTitle"><a href="#" class="sidebar__rowLink--LinkTitle">Minerały <img
                    src="../assets/img/amethyst-icon.png" alt="" class="sidebar__rowLinkImg"></a></li>

        <ul class="sidebar__submenu">
            <li class="sidebar__row"><a href="#" class="sidebar__rowLink">Ametyst<i
                        class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Labradoryt<i
                        class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Piryt<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Kwarc<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Kalcyt<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Gips<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Galena<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Baryt<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Fluoryt<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>

        </ul>
    </ul>
    <ul class="sidebar__mainMenu">
        <li class="sidebar__row--rowTitle"><a href="#" class="sidebar__rowLink--LinkTitle">Skamieniałości <img
                    src="../assets/img/fossil-icon.png" alt="" class="sidebar__rowLinkImg"></a></li>

        <ul class="sidebar__submenu">
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>


        </ul>
    </ul>
    <ul class="sidebar__mainMenu">
        <li class="sidebar__row--rowTitle"><a href="#" class="sidebar__rowLink--LinkTitle">Meteoryty <img
                    src="../assets/img/meteorite-icon.png" alt="" class="sidebar__rowLinkImg"></a></li>

        <ul class="sidebar__submenu">
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
            <li class="sidebar__row">
                <a href="#" class="sidebar__rowLink">Opal<i class="fa-solid fa-chevron-right sidebar__icon"></i></a>
            </li>
        </ul>
    </ul>




</div>