$first-font: 'Bebas Neue';
$secondary-font: 'Roboto';
$navigation-bg-color: #480463;
$navigation-button-color: #480463;
$navigation-link-color: #dad7d7;
$sidebar-max-width: 20%;
$sidebar-width: 20%;
$sidebar-bg-color: #ffffff;
$sidebar-theme-color: #878388;
$max-container-width: 900px;
$max-mainContent-width: 1200px;
$gutter-gap: 15px;
$homepage-width: 80%;
