@use '../abstaract/' as *;

.homepage {
  

    &__allElements {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }


    &__searchBar {
        // width: $max-mainContent-width;
        display: flex;
        margin: 30px 0 10px 0;
        @include large-desktop {
            size: 20%;
        }
    }
    
&__element {
    display: flex;
    width: calc(25% - (4 * $gutter-gap));
    border: 2px solid #000;
    transition: 300ms;
    margin: $gutter-gap 30px;
    height: 100%;

    &:hover {
        scale: 1.1;
    }

    @include large-desktop {
        width: calc((100%/3) - 20px);
        overflow-x:auto;
        padding: 0;
    }

    @include big-tablet {
        width: calc((100%/2) - 20px);
    }

    @include smartphone {
        width: calc(100% - 20px);
    }
}

&__elementText {
    padding: 0 50px;
    background-color: #C4B8E6;
}

&__elementImg {
       display: flex;
       justify-content: center;
}



&__text {
    @include resetList;
}

&__title {
    display: flex;
    justify-content: center;
    text-align: center;

    &:last-child {
        border-top: 1px solid #000;
        width: 100%;
        
    }
}

&__titleLink {
    color: #000;
    font-size: 20px;

    @include smartphone {
        font-size: 28px;
    }
}

&__price {
    color: #000;
    font-size: 18px;

    @include smartphone {
        font-size: 26px;
    }
}




}


