@use '../abstaract/' as *;

.auc {
    display: flex;
    
    &__home {
        width: $homepage-width;  
        
        @include smartphone {
            width: 100%;
        }
    }

    &__sidebar {
        width: 20%;

        @include smartphone {
            width: 0;
        }
    }
}
